/* =========================================================================
  Empty elements - Should match 'otherselectors element:empty'
========================================================================= */
#ex1 div.example p {
background: #c92f05;
color: #521302;
}

#ex1 div.example p:empty {
background: #eaeaea;
color: #666;
height: 1em; /* needed to ensure *something* renders */
}

#ex1 div.example p.empty {
background: #c2f060;
color: #5d5f2e;
height: 1em; /* needed to ensure *something* renders */
}

/* =========================================================================
  First elements - Should match 'otherselectors element:first'
========================================================================= */
#ex2 div.example p {
background: #c92f05;
color: #521302;
}

#ex2 div.example p:first {
background: #eaeaea;
color: #666;
}

#ex2 div.example p.first {
background: #c2f060;
color: #5d5f2e;
}

/* =========================================================================
  Last elements - Should match 'otherselectors element:last'
========================================================================= */
#ex3 div.example p {
background: #c92f05;
color: #521302;
}

#ex3 div.example p:last {
background: #eaeaea;
color: #666;
}

#ex3 div.example p.last {
background: #c2f060;
color: #5d5f2e;
}

/* =========================================================================
  Odd elements - Should match 'otherselectors element:nth-child(odd)'
========================================================================= */
#ex4 div.example p {
background: #c92f05;
color: #521302;
}

#ex4 div.example :nth-child(odd) {
background: #eaeaea;
color: #666;
}

#ex4 div.example p.odd {
background: #c2f060;
color: #5d5f2e;
}

/* =========================================================================
  Even elements - Should match 'otherselectors element:nth-child(even)'
========================================================================= */
#ex5 div.example p {
background: #c92f05;
color: #521302;
}

#ex5 div.example p:nth-child(even) {
background: #eaeaea;
color: #666;
}

#ex5 div.example p.even {
background: #c2f060;
color: #5d5f2e;
}

/* =========================================================================
  Next elements - Should match 'otherselectors + element'
========================================================================= */
#ex6 div.example p {
background: #c92f05;
color: #521302;
}

#ex6 div.example p + p {
background: #eaeaea;
color: #666;
}

#ex6 div.example p.next {
background: #c2f060;
color: #5d5f2e;
}

/* =========================================================================
  Sibling elements - Should match 'otherselectors ~ element'
========================================================================= */
#ex7 div.example p {
background: #c92f05;
color: #521302;
}

#ex7 div.example p ~ p {
background: #eaeaea;
color: #666;
}

#ex7 div.example p.sibling {
background: #c2f060;
color: #5d5f2e;
}

/* =========================================================================
  First Child elements - Should match 'otherselectors element:first-child'
========================================================================= */
#ex8 div.example p {
background: #c92f05;
color: #521302;
}

#ex8 div.example p:first-child  {
background: #eaeaea;
color: #666;
}

#ex8 div.example p.first-child {
background: #c2f060;
color: #5d5f2e;
}

/* =========================================================================
  Last Child elements - Should match 'otherselectors element:last-child'
========================================================================= */
#ex9 div.example p {
background: #c92f05;
color: #521302;
}

#ex9 div.example p:last-child  {
background: #eaeaea;
color: #666;
}

#ex9 div.example p.last-child {
background: #c2f060;
color: #5d5f2e;
}

/* =========================================================================
  Only Child elements - Should match 'otherselectors element:only-child'
========================================================================= */
#ex10 div.example p {
background: #c92f05;
color: #521302;
}

#ex10 div.example p:only-child  {
background: #eaeaea;
color: #666;
}

#ex10 div.example p.only-child {
background: #c2f060;
color: #5d5f2e;
}

/* =========================================================================
  Direct Child elements - Should match 'otherselectors > element'
========================================================================= */
#ex11 div.example ul {
background: #c92f05;
color: #521302;
}

#ex11 div.example > ul {
background: #eaeaea;
color: #666;
}

#ex11 div.example ul.child {
background: #c2f060;
color: #5d5f2e;
}

/* =========================================================================
  Text input elements - Should match 'otherselectors input[type="text"]'
========================================================================= */
#ex12 div.example input {
background: #c92f05;
border: 1px solid #c92f05;
color: #521302;
}

#ex12 div.example input[type="text"] {
background: #eaeaea;
border: 1px solid #eaeaea;
color: #666;
}

#ex12 div.example input.text {
background: #c2f060;
border: 1px solid #c2f060;
color: #5d5f2e;
}

/* =========================================================================
  Password input elements - Should match 'otherselectors input[type="password"]'
========================================================================= */
#ex13 div.example input {
background: #c92f05;
border: 1px solid #c92f05;
color: #521302;
}

#ex13 div.example input[type="password"] {
background: #eaeaea;
border: 1px solid #eaeaea;
color: #666;
}

#ex13 div.example input.password {
background: #c2f060;
border: 1px solid #c2f060;
color: #5d5f2e;
}


/* =========================================================================
  Radio input elements - Should match 'otherselectors input[type="radio"]'
========================================================================= */
#ex14 div.example input {
background: #c92f05;
border: 1px solid #c92f05;
color: #521302;
}

#ex14 div.example input[type="radio"] {
background: #eaeaea;
border: 1px solid #eaeaea;
color: #666;
}

#ex14 div.example input.radio {
background: #c2f060;
border: 1px solid #c2f060;
color: #5d5f2e;
}
/* =========================================================================
  Checkbox input elements - Should match 'otherselectors input[type="checkbox"]'
========================================================================= */
#ex15 div.example input {
background: #c92f05;
border: 1px solid #c92f05;
color: #521302;
}

#ex15 div.example input[type="checkbox"] {
background: #eaeaea;
border: 1px solid #eaeaea;
color: #666;
}

#ex15 div.example input.checkbox {
background: #c2f060;
border: 1px solid #c2f060;
color: #5d5f2e;
}

/* =========================================================================
  File input elements - Should match 'otherselectors input[type="file"]'
========================================================================= */
#ex16 div.example input {
background: #c92f05;
border: 1px solid #c92f05;
color: #521302;
}

#ex16 div.example input[type="file"] {
background: #eaeaea;
border: 1px solid #eaeaea;
color: #666;
}

#ex16 div.example input.file {
background: #c2f060;
border: 1px solid #c2f060;
color: #5d5f2e;
}

/* =========================================================================
  Button input elements - Should match 'otherselectors input[type="button"]'
========================================================================= */
#ex17 div.example input {
background: #c92f05;
border: 1px solid #c92f05;
color: #521302;
}

#ex17 div.example input[type="button"] {
background: #eaeaea;
border: 1px solid #eaeaea;
color: #666;
}

#ex17 div.example input.button {
background: #c2f060;
border: 1px solid #c2f060;
color: #5d5f2e;
}

/* =========================================================================
  Image input elements - Should match 'otherselectors input[type="image"]'
========================================================================= */
#ex18 div.example input {
background: #c92f05;
border: 1px solid #c92f05;
color: #521302;
}

#ex18 div.example input[type="image"] {
background: #eaeaea;
border: 1px solid #eaeaea;
color: #666;
}

#ex18 div.example input.image {
background: #c2f060;
border: 1px solid #c2f060;
color: #5d5f2e;
}

/* =========================================================================
  Reset input elements - Should match 'otherselectors input[type="reset"]'
========================================================================= */
#ex19 div.example input {
background: #c92f05;
border: 1px solid #c92f05;
color: #521302;
}

#ex19 div.example input[type="reset"] {
background: #eaeaea;
border: 1px solid #eaeaea;
color: #666;
}

#ex19 div.example input.reset {
background: #c2f060;
border: 1px solid #c2f060;
color: #5d5f2e;
}

/* =========================================================================
  Submit input elements - Should match 'otherselectors input[type="submit"]'
========================================================================= */
#ex20 div.example input {
background: #c92f05;
border: 1px solid #c92f05;
color: #521302;
}

#ex20 div.example input[type="submit"] {
background: #eaeaea;
border: 1px solid #eaeaea;
color: #666;
}

#ex20 div.example input.submit {
background: #c2f060;
border: 1px solid #c2f060;
color: #5d5f2e;
}

/* =========================================================================
  Arbitrary pattern test - Should match 'otherselectors input[type="submit"]'
========================================================================= */
#ex21 div.example a {
background: #c92f05;
color: #521302;
}

#ex21 div.example a[href$=".jpg"] {
background: #eaeaea;
color: #666;
}

#ex21 div.example a.jpeg {
background: #c2f060;
color: #5d5f2e;
}
