body {
background: #fff;
color: #000;
font-family: Helvetica, Verdana, sans-serif;
}

/* Self-clearing floats */
.selfclear:after {
content: ".";
display: block;
height: 0;
clear: both;
visibility: hidden;
}

.selfclear {
display: inline-block;
}

.selfclear {
display: block;
}

* html .selfclear {
height: 1px;
}

/* - */

#header {
text-align: right;
width: 60em;
margin: 0 0 1.5em;
}

h1 {
font-size: 2.5em;
float: left;
margin: 0;
}

#nav {
list-style-type: none;
margin: 0;
padding: 1em 0 0;
}

#nav li {
display: inline;
border-left: 1px solid #222;
padding: 0 0.75em;
}

#nav li:first {
border-left: 0 none transparent;
}

#nav li.first {
border-left: 0 none transparent;
}

#main {
width: 60em;
}

#copy {
width: 66%;
float: left;
font-size: 1.1em;
line-height: 1.3em;
}

h2 {
margin-top: 0;
}

#sidebar {
width: 33%;
float: left;
}

table {
border-collapse: collapse;
}

table tbody tr:nth-child(odd) {
background: #f3f3f3;
}

table tbody tr.odd {
background: #f3f3f3;
}

table tbody tr:hover {
background: #fefefa;
}

table tbody tr.hover {
background: #fefefa;
}

table td {
padding: 0.3em 0.8em;
}

a.file {
padding: 4px 0 4px 20px;
display: block;
background: url(page_white.png) 0 50% no-repeat;
}

a.file[href$=".png"] {
background: url(page_picture.png) 0 50% no-repeat;
}

a.png  {
background: url(page_picture.png) 0 50% no-repeat;
}

a.file[href$=".html"] {
background: url(page_html.png) 0 50% no-repeat;
}

a.html  {
background: url(page_html.png) 0 50% no-repeat;
}

a.file[href$=".js"] {
background: url(page_script.png) 0 50% no-repeat;
}

a.js  {
background: url(page_script.png) 0 50% no-repeat;
}

a.file[href$=".css"] {
background: url(page_css.png) 0 50% no-repeat;
}

a.css  {
background: url(page_css.png) 0 50% no-repeat;
}


#sidebar ul {
margin: 0 0 1em 1em;
list-style-type: none;
padding: 0;
}

#sidebar ul li {
display: inline;
}

#sidebar ul li a {
display: block;
padding: 0.7em;
margin: 0 0 0.5em;
text-decoration: none;
background: #f0eeee;
color: #521302;
}

#sidebar ul li:nth-child(odd) a {
background: #c2f060;
color: #5d5f2e;
}

#sidebar ul li.odd a {
background: #c2f060;
color: #5d5f2e;
}